{% extends 'master.html.twig' %}

{% block title %}AccessDenied | Slimtodo{% endblock %}

{% block content %}
    <h3>Access Denied</h3>
    <p><a href='/'>Click to continue</a></p>
    <img src='/images/accessdenied.jfif' />

{% endblock %}