{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}
    <p>Sorry! An internal error has occured. Our team of Coding Ninjas has been notified and is already working on the problem.</p>
    <img src='/images/codeninja.png' />
{% endblock %}

