{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}File delete{% endblock %}

{% block content %}    
    <p>file deleted. <a href="/list">Click to continue</a>.</p>
{% endblock %}
