{# empty Twig template #}
{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<p>choosing is successful,  {{userSession.name}} <a href="/file/add">click to continue</a>.</p>
{% endblock %}