<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<title>Tozai Hotel: Reservations</title>
<link href="styles/tozai_mq.css" rel="stylesheet" type="text/css">
<!--[if lte IE 8]>

<link href="styles/desktop.css" rel="stylesheet" type="text/css">

<![endif]-->
</head>

<body>
<div id="wrapper">
  <div id="header" role="banner">
    <h1>Espadana Storage</h1>
  </div>
  <ul id="nav" role="navigation">
    <li><a href="/login">Home</a></li>
    <li><a href="/login">Services</a></li>
    <li><a href="/login">Contact us</a></li>
    <li><a href="/login">How to Buy</a></li>
    <li><a href="/register">New Account</a></li>
   
  </ul>
  <div id="garden" class="content-medium" role="main">
    <h2>Safe, Secure & Flexible Storage</h2>
    <p>GoogleCloud Storage is unified object storage for developers and enterprises, from live data serving to data analytics/ML to data archiving..</p>
    <p><img src="images/exterior.jpg" alt="Stone lantern in Japanese garden" width="400" class="floatright">There are many different technologies used to store data, with new methods being created all the time. Some store data temporarily, and some for long periods of time. Many stay inside a computer or device, while others are portable and can be used on different devices or kept in other locations. Some common technologies used to store data include the following..</p>
    <p>Data storage is a term for how information is kept in a digital format that may be retrieved at a later time. Computers, laptops, tablets, smartphones and other devices all store data. The methods and technologies used vary greatly, but the basic concept is always the same--information is kept so that it can be accessed again later.Imagine for a moment that you lost your ability to remember anything--not what happened a minute ago, or yesterday, or five years ago. You wouldn't really be able to function, would you? Computers and other technologies work the same way. Without the ability to store and retrieve data, or information, they aren't very useful. Whether writing an email, watching an online video, visiting a web site or using technology in another way, there is a constant flow of digital information that needs to be stored in order for the technology to serve its purpose.Data storage is a term for how information is kept in a digital format that may be retrieved at a later time. </p>
  </div>
  <div class="aside" id="blossom" role="complementary">
    
      <h2>Our features</h2>
      
     <h3><li><a href="Advanced Operational Support">Advanced Operational Support</a></li></h3>
     <h3><li><a href="Advanced Operational Support">High Availability</a></li></h3>
      <h3><li><a href="Advanced Operational Support">Enhanced Dashboard</a></li></h3>
      <h3><li><a href="Advanced Operational Support">dentity</a></li></h3>
     <h3><li><a href="Advanced Operational Support">API Compatibility</a></li></h3>
     <h3><li><a href="Advanced Operational Support">Storage</a></li></h3>
      <h3><li><a href="Advanced Operational Support">About Us</a></li></h3>
     <h3><li><a href="Advanced Operational Support">Register for a free trial/></li></h3>
     <h3><li><a href="Advanced Operational Support">Search</a></li></h3>
  
   
   
   
  </div>
  <<div id="footer" role="contentinfo">
    <p>Espadana Storage, Canada</p>
    
  </div>
</div>
</body>
</html>
 