{% extends "master.html.twig" %}


{% block title %}Login{% endblock %}

{% block content %}


                    <form method="post" id="registerForm">
                        <div class="container">
                    <label><b>E-mail</b></label>
                    <input type="email" placeholder="Enter email" name="email" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required>

                     <input type="submit" value="Login" style="height:50px;width:80px" >

                    </div>
                
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="registerNow">New account?<a href="/register">Register!!</a></span>
                         <span class="registerNow">I forget my password<a href="http://localhost:8181/passreset/request">Register!!</a></span>
                   
                    </form>



 {% endblock %} 


