{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
{% block title %}upload File{% endblock %}
                    <label><b>E-mail</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required>

                    <button type="submit">Login</button>

                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="registerNow">New account?<a href="/register">Register!!</a></span>
                    </div>
                    </form>
            <div id="footer" role="contentinfo">
    <p>Espadana Storage, Canada</p>
    
  </div>
</div>
<script type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>

 {% endblock %} 


