{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
{% block title %}{% endblock %}
 
                    <form method="post" id="registerForm">
                        <div class="container">
                    <label><b>E-mail</b></label>
                    <input type="text" placeholder="Enter email" name="email" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="pass" required>

                    <button type="submit">Login</button>

                    </div>
                
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="registerNow">New account?<a href="/register">Register!!</a></span>
                   
                    </form>




 {% endblock %} 


