{% extends "master.html.twig" %}


{% block title %}Forgotten Password{% endblock %}

{% block content %}
    
    <p> Enter your Email below and we'll send you password reset link. </p>
    {% if error %}
        <p> we were'nt able to find email you provided in our records.
            Try again or <a href="/register">register</a> a new account
        </p>
        {% endif %}
<div >
  <div >
    <h1>Welcome back to the internet!</h1>
    <p>You've successfully managed to log into a nonexistant account in order to test a login dialog box.<br> If you like it, you are welcomed to use it wherever you want, no strings attached.<br><br><a href="#" class="link dialog-reset">Rerun the whole thing.</a></p>
  </div>
</div>

<div >
  <div >
    <div >
      <form id="login_form" method="POST">
        <fieldset>
          <legend>Forgotton Password</legend>
          <div >
            <label for="email" >Email:</label>
            <input type="email"  name="email" autofocus >
          </div>
          
          
          <div >
            <input type="submit"  value="Request reset email" style="height:50px;width:80px">
          </div>
         
        </fieldset>
      </form>
    </div>
  </div>
 
</div>


{% endblock %}