
{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
{% block title %}upload File{% endblock %}

    <form method="post" id="registerForm">

        <div class="container">
            <label><b>Username</b></label><span id="isTaken"></span><br>
            <input type="text" placeholder="Enter Name" name="name"  value="{{v.name}}" required>


            <label><b>E-mail</b></label><span id="isRegistered"></span><br>
            <input type="text" placeholder="Enter Email" name="email"  value="{{v.email}}" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pass1" required>

            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Retype Password" name="pass2" required>
            <button type="submit">Register</button>
        </div>
    </form>
    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="registerNow">New account?<a href="/register">Register!!</a></span>
                    </div>
                    </form>
            <div id="footer" role="contentinfo">
    <p>Espadana Storage, Canada</p>
    
  </div>                   
</div>
  <script type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>
{% endblock %}


