{% extends "master.html.twig" %}

{% block title %}Google map{% endblock %}

{% block content %}
    
   
  
            <div id="map"></div>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi_RmcXLnf2aoOIGzGGVPdrnaWQD2jrWs&libraries=places&callback=initMap">
            </script>

    

{% endblock %}

  