{# empty Twig template #}

{% block title %}Search Result{% endblock %}

{% block content %}

    <form method="post">
        <input type='text' name='search' value='{{f.search}}'/>
        <input type="checkbox" name="name" value="filename"> Location
        <input type='submit' value='Search' />
    </form>

        <h2>Search Results </h2>
        <table border=1>
          <tr><th>#</th><th>FileName</th>
        {% for p in f %}
                <tr class="{% if loop.index is odd %}rowodd{% else %}roweven{% endif %}">
                    <td>{{p.fileid}}</td>
                    <td>{{p.filename}}</td>
                                  
                </tr>
        {% else %}
            <tr><td colspan="6"> There is no Result for you</td></tr>
        {% endfor %}       
        

{% endblock %} 
