{% extends "master.html.twig" %}


{% block title %}Login{% endblock %}

{% block content %}

<form>
          <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Select The user</label>
             <select id = "user">
               <option value = "1">Azam</option>
               <option value = "2">Mina</option>
               <option value = "3">Ali</option>
               <option value = "4">Mino</option>
             </select>
          </p>
       </fieldset>
            <tr><td colspan="6"> You have no files</td></tr>

    </form>
{% endblock %} 
