{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
{% block title %}upload File{% endblock %}
  
  <form method="post" id="uploadForm">
        
        <div id="container">
        
            <fieldset>
                <legend>Add a new file to the storage</legend>
                <form method="post" action="index.php" enctype="multipart/form-data">
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                    <!--<p><label for="name">Select file</label><br />!-->
                        <p>
        <label>Add files (multiple): </label><br/>
        <input type="file" name="MAX_FILE_SIZE" multiple="multiple"/>
    </p>
                       <!-- <input type="file" name="file" /></p>!-->
                    <p><label for="password">Password for upload</label><br />
                        <input type="password" name="password" /></p>
                    <p><input type="submit" name="submit" value="Start upload" /></p>
                </form>   
            </fieldset>
            <fieldset>
                <legend>Previous uploaded files</legend>
                <ul id="menu">
                    <li><a href="">All files</a></li>
                    <li><a href="">Documents</a></li>
                    <li><a href="">Images</a></li>
                    <li><a href="">Applications</a></li>
                </ul>

                <ul id="files">
                    <?php echo $uploaded_files; ?>
                </ul>
            </fieldset>
      <div id="footer" role="contentinfo">
    <p>Espadana Storage, Canada</p>
  </div>
</div>
</script><script type="text/javascript" src="/js/jquery-1.5.2.min.js"></script>
 {% endblock %} 


