{# empty Twig template #}
{% extends "master.html.twig" %}
{% block content %}
{% block title %}{% endblock %}
  
  
    <form method="POST" action="/upload" enctype="multipart/form-data">
            <label>Select file to upload:</label>
            <input type="file" name="newfile">
            <button type="submit">Upload</button>
        </form>
    
      
 {% endblock %} 


