{% extends "master.html.twig" %}


{% block title %}Login{% endblock %}

{% block content %}


                    <form method="post" id="registerForm">
                        <div class="container">
                    <label><b>Your Drive</b></label>
                    <p>Your storage works with Drive,<br> so you can store files, save email attachments and back-up photos directly to Drive. <br>
                        You can also purchase a larger cloud storage plan as you need it.</p>
                    
                    <p>Get your Drive Free for 30 days <a href='../file/add'>Upload your Files</a></p>
                    <p>Get your Drive Free for 30 days <a href='../share your Drive'>Share your Folders</a></p>
                    <p>Get your Drive Free for 30 days <a href='../purchase a Drive'>purchase a larger cloud </a></p>
                    

                    </div>
                   
                    </form>




 {% endblock %} 

